.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-color: #f8fafc;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}