.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    align-items: center;
    /* Center children globally */
}