.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}